#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
}

.topNavigation{
    background-color: #373d41;
    padding-left: 0px;
    padding-top: 0px;
    font-size: 18px;
}

.asideNavigation {
    background-color: #333744;
}

.adminHomepageMain {
    background-color: #f2f2f2;
}

.studentHomepageMain {
    background-color: #f2f2f2;
}

.teacherHomepageMain {
    background-color: #f2f2f2;
}

.container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
}